container_commands:
  01_syncdb:
    command: "django-admin.py syncdb --noinput"
    leader_only: true
  02_createadmin:
    command: "scripts/createadmin.py"
    leader_only: true
  03_collectstatic:
    command: "django-admin.py collectstatic --noinput"
    
option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: ja_app/wsgi.py
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: static/
  - option_name: DJANGO_SETTINGS_MODULE
    value: ja_app.settings
  - option_name: AWS_SECRET_KEY
    value: 3W/g4rt6KiH02IPCelIQhgJVONjZOQcdNF/Y2r+6
  - option_name: AWS_ACCESS_KEY_ID
    value: AKIAJPSCTOW6XJO4C5RA